<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Text dashboard</title>
    <link rel="stylesheet" href="/css/tachyons.min.css">
    <style>
      html, body {
          height: 100%;
          text-align: center;
          font-size: 40px;
          font-family: Arial,Sans-Serif;
      }
      #text-content{
          position:absolute;
          top:0;
          bottom:0;
          left:0;
          right:0;
          overflow:hidden;
      }
      p {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
