---
:root: "$HOME/nosoft/messerver"
:out:
  :PO:
  - :name: depot
    :path: "$ROOT/FTP-01"
    :except:
      :org_code: UI
  - :name: Mkt
    :path: "$ROOT/FTP-02"
  - :name: Agri
    :path: "$ROOT/FTP-03"
  :PS:
  - :name: all
    :path: "$ROOT/FTP-01"
