---
:root: "$HOME/ftp_transfer"
:email_dir: "$ROOT/edi_mail_out"
:send_edi:
  :po: false
  :ps: false
:out_dirs:
  :paltrack: "$ROOT/edi_out/paltrack"
  :head_office: "$ROOT/edi_out/head_office"
:mail_recipients: {}
